.header{
    text-align:center;
    background-color:rgb(215, 78, 78);
    display: :flex;
}
footer{
   
        text-align: center;
        font-size:120px
        font-family:'Times New Roman', Times, serif;
        padding: 10px;
        background-color: rgb(241, 140, 106);
        color: white;
}

.aa{
    text-align: center;
    color:rgb(9, 82, 38);
    background-color:bisque;
}

.ac{
    background-color: cornsilk;
    background-image: linear-gradient(#d6ccc2,#cad2c5,#84a98c);
    text-align: center;
    padding: 10px;
    border-style: double;
    margin-top: 10px;
    margin-left: 500px;
    box-shadow: 10px 10px grey;
    
}
.b{
    background-color: cornsilk;
    background-image: linear-gradient(#d6ccc2,#cad2c5,#84a98c);
    text-align: center;
    padding:10px;
    border-style: double;
    margin-top: 10px;
    margin-right: 500px;
    box-shadow: 10px 10px grey;


}
.c{
    background-color: cornsilk;
    background-image: linear-gradient(#d6ccc2,#cad2c5,#84a98c);
    text-align: center;
    padding:10px;
    border-style: double;
    margin-top: 10px;
    margin-left: 500px;
    box-shadow: 10px 10px grey;
}
.d{
    background-color: cornsilk;
    background-image: linear-gradient(#d6ccc2,#cad2c5,#84a98c);
    text-align: center;
    padding: 10px;px;
    border-style: double;
    margin-top: 10px;
    margin-right: 500px;
    box-shadow: 10px 10px grey;
    
}
.e{
    background-color: cornsilk;
    background-image: linear-gradient(#d6ccc2,#cad2c5,#84a98c);
    text-align: center;
    padding: 10px;px;
    border-style: double;
    margin-top: 10px;
    margin-left: 500px;
    box-shadow: 10px 10px grey;
    
}
.f{
    background-color: cornsilk;
    background-image: linear-gradient(#d6ccc2,#cad2c5,#84a98c);
    text-align: center;
    padding: 10px;px;
    border-style: double;
    margin-top: 10px;
    margin-right: 500px;
    box-shadow: 10px 10px grey;
    
}
.g{
    background-color: cornsilk;
    background-image: linear-gradient(#d6ccc2,#cad2c5,#84a98c);
    text-align: center;
    padding: 10px;px;
    border-style: double;
    margin-top: 10px;
    margin-left: 500px;
    box-shadow: 10px 10px grey;
    
}
.h{
    background-color: cornsilk;
    background-image: linear-gradient(#d6ccc2,#cad2c5,#84a98c);
    text-align: center;
    padding: 10px;px;
    border-style: double;
    margin-top: 10px;
    margin-right: 500px;
    box-shadow: 10px 10px grey;
    
}
.bg{
    background-color: antiquewhite;
}
.san{
    position:relative;
    top: 10px;

}

  
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.bodya {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.content {
	position: relative;
}

.content h2 {
	color: #fff;
	font-size: 13em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #e1d9d3;
}

.content h2:nth-child(2) {
	color: #d2dbdf;
	animation: animate 4s ease-in-out infinite;
}



@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
